body {
  display: flex;
  background-image: url("../app/yin.png");
  background-repeat: no-repeat;
  background-position: center;
}


.global-class {
  border-radius: 50px;
  padding: 10px;
  width: 100px;
  background: greenyellow;
}