body {
  display: flex;
  background: green;
  background-repeat: no-repeat;
  background-position: center;
}


.global-class {
  border-radius: 50px;
  padding: 10px;
  width: 100px;
  background: greenyellow;
}


@import "./other_styles.scss";