body {
    display: flex;
    background: red;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.redButton {
    background: purple;
}

.testClass {
  background: green;
}

.global-class {
  background: pink;
}