body {
    display: flex;
    background-size: 400px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
}

.global-class {
  border-radius: 50px;
  padding: 10px;
  width: 100px;
  background: greenyellow;
}